{% extends 'base.html' %}
{% block content %}

<h1 class="text-center" style="font-family: 'Kanit', sans-serif;">Welcome to {{hood.name}}</h1>


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class=" col-md-6">
            <div class="panel panel-default" style="margin-top:5%"></div>
            <img class="card-img-top mb-10 img-responsive" src="{{hood.hood_logo.url}}" style="height:auto; width:100%">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <p> <span style="font-weight: 700;">Name : </span> {{hood.name}} </p>
                        <p><span style="font-weight: 700;">Location : </span> {{ hood.location}}</p>
                        <p> <span style="font-weight: 700;">Description : </span> {{ hood.description }} </p>
                        <p> <span style="font-weight: 700;">Occupants : </span> {{ hood.occupants_count }} </p>
                        <p> <span style="font-weight: 700;">Emergency Contact: </span> {{ hood.emergency_count }} </p>
                        <br>

                        <a class='btn grey darken' href="{%url 'newbiz'%}">New business</a>
                        <a class="btn btn-dark" href=" /businesses/{{hood.id}} ">View Businesses </a><br><br>

                        <a class='btn grey darken' href="{%url 'post'%}">New Post</a>
                        <a class='btn btn-dark' href="/hoodpost/{{hood.id}}">View Post</a>


                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


{%endblock%}